// Variables
$disabled-color: #bdc3c7;

// Button Base Styles
.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--base);
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &--primary {
    background-color: var(--primary);

    &:hover {
      background-color: var(--primary);
      filter: brightness(90%);
    }
  }

  &--secondary {
    background-color: var(--secondary);

    &:hover {
      background-color: var(--secondary);
      filter: brightness(90%);
    }
  }

  &--accent {
    background-color: var(--accent);

    &:hover {
        background-color: var(--accent);
        filter: brightness(90%);
    }
  }

  &--small {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  &--medium {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }

  &--large {
    padding: 1rem 2rem;
    font-size: 1.125rem;
  }

  &:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }
}
