<section class="profile-card">
    <div class="profile-card__container">
      <div class="profile-card__header-banner"></div>
      <div class="profile-card__content">
        <img
          src="https://img.freepik.com/free-photo/happy-bearded-man-business-clothes-looking-camera_171337-11392.jpg"
          alt="User Profile Icon"
          class="profile-card__content__profile-image"
        />
        <h1 class="profile-card__content__user-name">Gabriel Eger</h1>
        <h2 class="profile-card__content__user-title">Desenvolvedor(a) Junior</h2>
        <div class="profile-card__divider"></div>
        <nav class="profile-card__navigation">
          <ul class="profile-card__navigation__nav-links">
            <li><a class="profile-card__nav-link" href="/home">Home</a></li>
            <li><a class="profile-card__nav-link" href="/profile">My Profile</a></li>
            <li><a class="profile-card__nav-link" href="/projects">My Projects</a></li>
            <li><a class="profile-card__nav-link" href="/support">Support</a></li>
          </ul>
        </nav>
      </div>
      <div class="profile-card__footer">
        <a class="profile-card__settings-link" href="/configuracoes">Profile Settings</a>
      </div>
    </div>
  </section>
  